name: Build and Release Extension

on:
  push:
    branches:
      - master

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Package extension
        run: zip -r extension.zip . -x .github/\*

      - name: Prepare deploy folder
        run: |
          mkdir -p ghp
          mv extension.zip ghp/
          cp policy.html ghp/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_branch: gh-pages
          publish_dir: ghp
          keep_files: true
          force_orphan: true